<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 10 Bus lines</title>
    <script type="text/javascript" th:src="@{/js/scoreboard.js}"></script>
    <link rel="stylesheet" href="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.css">
    <script src="https://unpkg.com/accordion-js@3.3.0/dist/accordion.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Verdana">
<h2 style="text-align: center">Top 10 busiest Bus lines</h2>
<div id="accordion-container" class="accordion-container">
</div>
<div>
    <p style="text-align:center;">This service is based on information retrieved from <a href="https://www.trafiklab.se/">Trafiklab.se</a></p>
</div>
<script th:inline="javascript">
    createScoreboard(/*[[${scoreboard}]]*/);
    new Accordion('.accordion-container');
</script>
</body>
</html>